.about__title{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #3858d6;
}

.about__name{
    margin-top: 5px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #1e1d1d;
}

.about__card{
    display: flex;
    gap: 47px;
    margin-top: 55px;
}

.about__subtitle{
    font-weight: 700;
    font-size: 24px;
    color: #1e1d1d;
    margin-bottom: 10px;
}

.about__text{
    width: 266px;
    font-weight: 500;
    font-size: 16px;
    color: #8b8e99;
    margin-bottom: 9px;
}

.about__box{
    display: flex;
    gap: 28px;
    align-items: center;
    border-radius: 22px;
    padding: 28px;
    background-color: #f6f6f6;
}

.about__block{
    padding-bottom: 17%;
}

.about__donts{
    margin-top: 57px;
    text-align: center;
}