.content__box{
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
}

.content__block{
    display: flex;
    border-radius: 22px;
    padding: 36px 23px 34px 31px;
    background-color: #f6f6f6;
}

.content__title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: #1e1d1d;
    width: 173px;
}

.content__text{
    margin-top: 9px;
    margin-left: 26px;
    font-weight: 500;
    font-size: 16px;
    color: #8b8e99;
    width: 173px;
}

.fitbit{
    margin-left: 35px;
    margin-top: 5px;
}